<p>----------------------------------------------------------------</p>
<div class="tabla">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Producto</th>
                <th scope="col">Cantidad </th>
                <th scope="col">Total x Articulo </th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>

        <tr *ngFor="let product of products">
            <td th scope="row">{{product.productId}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.total}}</td>


            <td class="input-group">

                <span class="input-group-btn">
                    <button (click)="menos(product.productId)" type="button" class="btn btn-danger btn-number"
                        data-type="minus">
                        ELIMINAR
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </span>
                <span class="input-group-btn">

                    <button  (click)="mas(product.productId)" type="button" class="btn btn-success btn-number"
                        data-type="plus">Agregar+
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </span>

                <!-- 
                  <a [routerLink]="['/product-edit',product.proId]">Editar</a>
  
                  <button (click)="delete(product.proId)">
                      delete
                  </button>
                  -->
            </td>
        </tr>
        


    </table>
</div>
<br>
<br>
<br>
<div>
    <h4>Métodos de pago</h4>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">tipo </th>
                <th scope="col">pagar </th>

            </tr>
        </thead>

        <tr *ngFor="let pay of pays">
            <td th scope="row">{{pay.name}}</td>
            <td th scope="row">PAGAR</td>
        </tr>


    </table>
</div>