
<div *ngIf="showMsg">
    <p *ngFor="let msg of messages">
        {{msg}}
    </p>

</div>


<form #paymentMethodform="ngForm">
    <input type="text" name="name" id="name" #email placeholder="name" [(ngModel)]="paymentMethod.name" required />  
    <br>
    <!-- <input type="text" name="enable" id="enable" #phone placeholder="enable" [(ngModel)]="paymentMethod.enable">
    <br> -->
    <select name="payId" id="payId" #enable [(ngModel)]="paymentMethod.enable">
        <option *ngFor="let enable of enables" [value]="enable.id">{{enable.name}}</option>
    </select>
    <button (click)="save()">
        Save
    </button>
    <button routerLink="/product-list">
        Cancel
    </button>

</form>
<br/>
{{paymentMethod.name}}<br/>
{{paymentMethod.enable}}<br/>
