<h3>{{titulo}}</h3>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <td *ngIf=_isAdmin>ID</td>
            <td>Name</td>
            <td>enable</td>
            <td *ngIf=_isAdmin> Opciones </td>
        </tr>
    </thead>

    <tr *ngFor="let paymentMethod of paymentMethods">
        <td *ngIf=_isAdmin>{{paymentMethod.payId}}</td>
        <td scope="row">{{paymentMethod.name}}</td>
        <td scope="row">{{paymentMethod.enable}}</td>
        <td *ngIf=_isAdmin>
            <button (click)="cambiar(paymentMethod.payId,paymentMethod.enable)" type="button" class="btn btn-warning"
                data-type="minus">
                Cambiar estado
            </button>
        </td>

    </tr>


</table>